/********** FONT IMPORT **********/
@font-face {
    font-family: "Public Pixel";
    src: url(./resources/fonts/public_pixel.ttf);
}

/********** RESET CSS **********/
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/********** GLOBAL **********/
body {
    font-family: monospace;
    color: white;
    background-color: black;
}

h1 {
    display: none;
}

section {
    height: 100%;
}

section a {
    color: #e01d3f;
}

section a:hover {
    text-decoration: underline;
    color: #e01d3f;
}

section a:visited {
    color: #e01d3f;
}

/********** HEADER **********/
header {
    width: 100%;
    position: fixed;
    z-index: 9999;
}

nav {
    height: 70px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 10px 0 black;
}

#holberton_survivors_top_logo {
    height: 50px;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

#nav_menu_container {
    display: flex;
    align-items: center;
}

.nav_item {
    margin: 0 12.5px;
}

.nav_link {
    font-family: "Public Pixel";
    font-size: 0.75em;
    text-transform: uppercase;
    color: white;
}

#hamburger_icon {
    display: none;
    margin-right: 25px;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    border-radius: 5px;
    background-color: white;
}

/* Responsive */
@media (max-width: 768px) {
    #nav_menu_container {
        position: fixed;
        top: 70px;
        right: -100%;
        width: 100%;
        height: 75%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background: rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 10px 0 black;
        transition: 0.3s ease-in-out;
    }

    #nav_menu_container.active {
        right: 0px;
    }

    .nav_item {
        font-size: 1.5em;
    }

    #hamburger_icon {
        display: block;
    }

    .bar {
        display: block;
    }
}

/********** DOWNLOAD SECTION **********/
#download {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./resources/images/background-download.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#download a {
    color: white;
}

#download a {
    text-decoration: none;
    color: white;
}

#download a:visited {
    color: white;
}

#holberton_survivors_logo {
    height: 200px;
}

#bottom_elements_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* Download buttons */
#download_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 250px;
}

.download_button {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: "Public Pixel";
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.download_button:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

.download_button img {
    width: 25px;
}

.text_button_container {
    display: flex;
    flex-direction: column;
}

.os_text {
    font-family: monospace;
    text-align: right;
}

/* Scroll down button */
#scroll_down_button {
    width: 75px;
    height: 75px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Scroll down button animation */
.chevron {
    width: 25px;
    height: 5px;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    background: white;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    width: 50%;
    right: 0;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;
    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}

/* Responsive */
@media (max-width: 768px) {
    #holberton_survivors_logo {
        height: 125px;
    }

    #download_buttons_container {
        display: none;
    }

    #scroll_down_button {
        display: none;
    }
}

/********** ABOUT SECTION **********/
#about {
    padding-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about_container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 1.5em;
    text-align: justify;
}

#about_container img {
    max-height: 300px;
    margin-bottom: 25px;
}

/* Responsive */
@media (max-width: 768px) {
    #about {
        padding-top: 0;
    }

    #about_container {
        width: 100%;
        padding: 0 25px;
        font-size: 1.1em;
    }
}

/********** TRAILER SECTION **********/
#trailer {
    padding-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#trailer span {
    font-size: 1.5em;
}

#trailer_container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 1.5em;
    text-align: center;
}

#trailer_container span {
    font-family: "Public Pixel";
    font-size: 0.75em;
    color: #e01d3f;
}

#trailer_container video {
    width: 75%;
}

#video_container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

#video_player {
    border-radius: 15px;
}

#video_overlay {
    width: 75%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-family: "Public Pixel";
    border-radius: 15px;
    background-color: rgba(224, 29, 63, 0.8);
    z-index: 999;
}

#play_video_button {
    height: 15%;
    cursor: pointer;
    opacity: 0.9;
}

/* Responsive */
@media (max-width: 768px) {
    #trailer_container {
        width: 100%;
        padding: 0 25px;
        font-size: 1.1em;
    }

    #trailer_container video {
        width: 100%;
    }

    #video_overlay {
        width: 100%;
    }
}

/********** SCREENSHOTS SECTION **********/
#screenshots {
    padding-top: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#screenshots_section_container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
    font-size: 1.5em;
    text-align: justify;
}

#screenshots_container {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 20px;
}

#screenshots_container img {
    width: 100%;
    padding: 5px;
    object-fit: cover;
    background-color: white;
    cursor: pointer;
}

#screenshots_container img.screenshot_overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    background: rgba(0, 0, 0, 0.7);
}

/* Responsive */
@media (max-width: 768px) {
    #screenshots_section_container {
        width: 100%;
        padding: 0 25px;
        font-size: 1.1em;
    }

    #screenshots_container {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

/********** LEADERBOARD SECTION **********/
#leaderboard {
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#leaderboard h2 {
    margin-bottom: 50px;
    font-family: "Public Pixel";
    font-size: 1.25em;
}

#leaderboard_container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Public Pixel";
}

.dreamloLBTable {
    width: 50%;
    border-collapse: collapse;
    text-align: center;
}

.dreamloLBTable th {
    padding: 12.5px;
    color: #e01d3f;
    border-bottom: solid 2px white;
}

.dreamloLBTable td {
    padding: 12.5px;
    border-bottom: solid 2px white;
}

/* Responsive */
@media (max-width: 768px) {
    #leaderboard h2 {
        font-size: 1em;
    }

    #leaderboard_container {
        font-size: 0.75em;
    }
}

/********** THANKS SECTION **********/
#thanks {
    padding-top: 95px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#thanks_container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 1.5em;
    text-align: justify;
}

#thanks_links_container {
    width: 100%;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#graphical_assets_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

#graphical_assets_container img {
    border-radius: 25px;
}

#music_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.music_container_divider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.music_items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/* Responsive */
@media (max-width: 768px) {
    #thanks {
        height: 100%;
    }

    #thanks_container {
        width: 100%;
        padding: 0 25px;
        font-size: 1.1em;
    }

    #thanks_links_container {
        flex-direction: column;
        gap: 25px;
    }

    #music_container {
        flex-direction: column;
    }
}

/********** PARALLAX EFFECT **********/
#parallax {
    height: 250px;
    margin-top: 125px;
    background-image: url(./resources/images/parallax-background.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Responsive */
@media (max-width: 768px) {
    #parallax {
        display: none;
    }
}

/********** CONTACT SECTION **********/
#contact {
    height: 100vh;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 75px;
}

/* Contact form */
#contact_form_container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 1.5em;
    text-align: justify;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: left;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid white;
    resize: none;
}

button {
    height: 50px;
    padding: 10px 15px;
    float: right;
    border: none;
    border-radius: 5px;
    font-family: "Public Pixel";
    color: white;
    background-color: #e01d3f;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    background-color: #ff2247;
}

/* Contact team */
#contact_team_container {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fabien,
.yoann {
    width: calc(100% / 3);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Public Pixel";
}

#holberton_seahorse_logotype {
    height: 75px;
    transition: 0.3s ease-in-out;
}

#holberton_seahorse_logotype:hover {
    transform: scale(1.1);
}

.contact_team_icon {
    height: 50px;
    transition: 0.3s ease-in-out;
}

.contact_team_icon:hover {
    transform: scale(1.1);
}

/* Responsive */
@media (max-width: 768px) {
    #contact {
        padding-top: 0;
        gap: 50px;
    }

    #contact_form_container {
        width: 100%;
        padding: 0 25px;
        font-size: 1.1em;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 5px;
    }

    #holberton_seahorse_logotype {
        height: 50px;
    }

    .contact_team_icon {
        height: 25px
    }
}

/********** FOOTER **********/
/* Move to top button */
#move_to_top_button {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 25px;
    bottom: -50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    z-index: 9999;
}

#move_to_top_button img {
    width: 25px;
    height: 25px;
}

/* Responsive */
@media (max-width: 768px) {
    #move_to_top_button {
        display: none;
    }
}

/********** GLOBAL PAGE ANIMATION **********/

.hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 0.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
}

.hidden_top {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-20%);
    transition: all 0.5s;
}

.show_top {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hidden_right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 0.5s;
}

.show_right {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.hidden_bottom {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 0.5s;
}

.show_bottom {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.hidden_left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 0.5s;
}

.show_left {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }

    .hidden_top {
        transition: none;
    }

    .hidden_right {
        transition: none;
    }

    .hidden_bottom {
        transition: none;
    }

    .hidden_left {
        transition: none;
    }
}