/********** FONT IMPORT **********/
@font-face {
    font-family: "Public Pixel";
    src: url(./resources/fonts/public_pixel.ttf);
}

/********** RESET CSS **********/
*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

/********** GLOBAL **********/
body {
    color: white;
    background-color: black;
}

h1 {
    display: none;
}

section {
    height: 100vh;
}

/********** HEADER **********/
header {
    width: 100%;
    position: fixed;
    z-index: 9999;
}

nav {
    height: 70px;
    padding: 10px;
}

/********** DOWNLOAD SECTION **********/
#download {
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(./resources/images/background-download.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#holberton_survivors_logo {
    height: 200px;
}

/* Responsive */
@media (max-width: 768px) {
    #holberton_survivors_logo {
        height: 125px;
    }
}

#bottom_elements_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

/* Download buttons */
#download_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 250px;
}

/* Responsive */
@media (max-width: 768px) {
    #download_buttons_container {
        display: none;
    }
}

.download_button {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-family: "Public Pixel";
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.download_button:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.8);
}

.download_button img {
    width: 25px;
}

.text_button_container {
    display: flex;
    flex-direction: column;
}

.os_text {
    font-family: monospace;
    text-align: right;
}

/* Scroll down button */
#scroll_down_button {
    width: 50px;
    height: 75px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Scroll down button animation */
.chevron {
    width: 25px;
    height: 5px;
    position: absolute;
    top: 0;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    background: white;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    width: 50%;
    right: 0;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;
    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}